{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@vue/babel-plugin-transform-vue-jsx",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
