/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.env.*
/.phpstorm.meta.php
/_ide_helper*.php
/storage/lycee.csv
/storage/dump/
/public/mix-manifest.json
/_ide_helper_models.php
.phpunit.result.cache
package-lock.json
.pnpm-store/
.phpunit.cache/
storage/clockwork/
public/build
# Sentry Config File
.env.sentry-build-plugin
