@import 'element-plus/theme-chalk/src/common/var.scss';

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$link-color: #409eff;

$cardHeightWidthRatio: 0.71538461538;

//noinspection CssUnknownProperty
:export {
  cardHeightWidthRatio: $cardHeightWidthRatio
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin not-for-tablet-landscape-up {
  @media (max-width: 899px) { @content; }
}
