.card-text-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: no-repeat center;
  background-size: contain;
  // https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b
  position: relative;
  top: .125em;
  color: rgba(0, 0, 0, 0);
  overflow: hidden;

  $icons: 0 tap star snow moon flower space sun;

  $abilityTypes: activate continuous trigger;

  @each $icon in $icons {
    &-#{$icon} {
      background-image: url(../images/text-icons/#{$icon}.svg);
    }
  }

  @for $i from 1 through 4 {
    &-d#{$i} {
      background-image: url(../images/text-icons/d#{$i}.svg);
    }
  }

  @each $icon in $abilityTypes {
    &-#{$icon} {
      background-image: url(../images/text-icons/#{$icon}-en.svg);
    }
  }
}

.card-text-icon-long {
  width: 2em;
}
