$abilityTypeColors: (
        activate: #0163b1,
        trigger: #dc3888,
        continuous: #01a299,
        cost: #ec5009,
        hand-activate: #d9000a,
);

.card-text-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: no-repeat center;
  background-size: contain;
  // https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b
  position: relative;
  top: .125em;
  color: rgba(0, 0, 0, 0);
  overflow: hidden;

  $icons: 0 tap star snow moon flower space sun;

  @each $icon in $icons {
    &-#{$icon} {
      //noinspection CssUnknownTarget
      background-image: url(../images/text-icons/#{$icon}.svg);
    }
  }

  @for $i from 1 through 4 {
    &-d#{$i} {
      //noinspection CssUnknownTarget
      background-image: url(../images/text-icons/d#{$i}.svg);
    }
  }
}

.card-ability-type {
  @each $abilityType, $color in $abilityTypeColors {
    &-#{$abilityType} {
      padding: 0.1rem 0.3rem;
      font-size: 0.9em;
      background-color: $color;
      position: relative;
      top: -.1em;
      color: white;
      border-radius: 0.2rem;
    }
  }
}

.card-text-icon-long {
  width: 2em;
}

// Invisible copiable text.
.ict {
  position: absolute;
  left: -10000px;
}
